<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    ${template "basic"}
</head>
<body ng-controller="masterCtrl" class="index">
    <div class="container-fluid">
        ${template "header"}
        <div id="Notify" class="master-notify" ng-class="{ show: master.message }">
            <div>{{master.message}}</div>
        </div>

        <div class="version-control-bar">
            <div id="version" class="version">
                <p class="number">Version: {{ version.version }}</p>
                <p class="time">{{ formatTime(version.time) }}</p>
            </div>
            <div class="page-controls" ng-class="{'disable-control' : lockControl || master.status == Status.Busy }">
                <button class="btn btn-sm btn-default" refresh>
                    <i class="fa fa-refresh loader"></i> Refresh
                </button>
                <button class="btn btn-sm btn-primary" update>
                    <i class="fa fa-arrow-down loader"></i> Update
                </button>
                <button class="btn btn-sm btn-success" compile>
                    <i class="glyphicon glyphicon-compressed"></i> Compile
                </button>
                <button class="btn btn-sm btn-danger" ng-show="master.error" show-error><i class="fa fa-exclamation"></i></button>
            </div>
        </div>

        <ul id="GroupList" group-list class="group-list" ng-class="{controllable: !lockControl}">
            <li class="group" ng-class="{ hidden: !group.clients || isEmptyObject(group.clients) }"
                ng-repeat="(gid, group) in groupList | orderBy:'-Id'"
                data-id="{{gid}}">
                <h3>{{group.name}}</h3>
                <p class="desc">{{group.desc}}</p>
                <div class="client-list row">
                    <div class="col-lg-3 col-md-4 col-sm-6 clinnt-col" ng-repeat="(cid, client) in group.clients | orderBy:'id'" data-id="{{cid}}}">
                        <div class="client" ng-class="{ lock: client.status == Status.Busy || client._lock, online: client.status == Status.Alive, busy: client.status == Status.Busy }">
                            <h5>{{client.web_server.name || client.web_server.ip}}</h5>
                            <p class="ip">{{client.web_server.ip}}/{{client.web_server.internalIp}}</p>
                            <span class="version">version: {{client.web_server.version}}</span>
                            <div class="notify">
                                <div class="usage" ng-class="{ show: !client.message }">
                                    cpu: {{client.proc.cpu_percent}}%
                                    mem: {{client.proc.mem_percent}}%
                                </div>
                                <div class="message" ng-class="{ show: client.message  }">
                                    <i class="fa fa-spinner fx-spinner"></i> {{ client.message }}
                                </div>
                            </div>
                            <label>
                                <input type="checkbox" class="hidden" ng-model="client.selected" />
                                <i class="fa fa-check"></i>
                            </label>

                            <div class="control" client-control>
                                <i class="warning fa fa-exclamation-circle" ng-show="!!client.error" client-error></i>
                                <div class="quick">
                                    <em client-move><i class="fa fa-map-marker"></i></em>
                                    <em class="more"><i class="fa fa-bars"></i></em>
                                </div>
                                <span client-update ng-class="{ disabled: client.status != Status.Alive }"><i class="fa fa-arrow-down"></i> Update</span>
                                <span client-deploy ng-class="{ disabled: client.version < version.version || client.status != Status.Alive }"><i class="fa fa-bolt"></i> Deploy</span>
                                <span client-revert ng-class="{ disabled: client.status != Status.Alive }"><i class="fa fa-undo"></i> Recover</span>
                                <span client-log ng-class="{ disabled: client.status == Status.Die }"><i class="fa fa-file-o"></i> Log</span>
                                <span client-edit><i class="fa fa-cog"></i> Edit</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 client-col">
                        <div class="client add-client">
                            <i class="fa fa-plus-circle" client-add></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="global-control" id="GlobalControl">
            <div class="bg"></div>
            <div class="bd">
                <p></p>
                <div class="btns">
                    <button class="btn btn-sm btn-default cancel">Cancel</button>
                    <button class="btn btn-sm btn-primary next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        _inlineRun(function(){
            require(["controller/indexCtrl"])
        })
    </script>
    ${template "import"}
</body>
</html>

