@include keyframes(spinner-rotate){
  0%{
    @include transform(rotateZ(0deg))
  }
  50%{
    @include transform(rotateZ(180deg))
  }
  100%{
    @include transform(rotateZ(360deg))
  }
}

.index {
  .version-control-bar {
    padding-top: 15px;
    .version {
      p {
        margin: 0;
      }
      .number {
        color: #92A82A;
      }
      .time{
        color: #AAAAAA;
        font-size: 12px;
      }
    }
    .page-controls {
      float: right;
      z-index: 2;
      margin-top: -32px;
      button {
        margin-right: 5px;
      }
      .fa-circle-o-notch {
        @include animation(spinner-rotate 1s linear infinite)
      }
    }
  }

  .h-line {
    position: absolute;
    left: 72px;
    top: 100px;
    bottom: 0;
    width: 1px;
    background: #343434;
    z-index: 0;
  }
}

@media (max-width: $screen-xs-max) {
  .index .version-control-bar {
    .page-controls {
      float: none;
      text-align: right;
      margin-top: 10px;
    }
  }
}