@include keyframes(deploying){
  0%{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(180deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

.index {
  .version-control-bar {
    padding-top: 15px;
    .version {
      p {
        margin: 0;
      }
      .number {
        color: #92A82A;
      }
      .time{
        color: #AAAAAA;
        font-size: 12px;
      }
    }
    .page-controls {
      float: right;
      z-index: 2;
      button {
        margin-right: 5px;
      }
    }
  }

  .h-line {
    position: absolute;
    left: 72px;
    top: 100px;
    bottom: 0;
    width: 1px;
    background: #343434;
    z-index: 0;
  }
}

@import "../components/group-list";
@import "../components/upfile-list";