${define "import"}
<script>
    var require = {
        baseUrl: "/js",
        urlArgs: "bust="+(new Date).getTime(),
        waitSeconds: 15,
        deps : ["main"]
    }
</script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/requirejs/require.js"></script>
${end}