$res: "../img";

$bodyBg: #283238;
$bodyColor: #696969;

//ui
$flyoutBoxBackground: #3A454A;
$flyoutBoxBorder: #4C84AD;
$flyoutBoxHeaderBg: #4C84AD;
$borderColor: rgba(147, 147, 147, 0.47);
$flyoutArrowBorderColor: rgba(166, 166, 166, 0.74);