.modal-content {
  background: $flyoutBoxBackground;
  border: 1px solid $borderColor;
}
.modal-header {
  border-bottom: none;
  color: #fff;
  text-align: center;
}
.modal-footer {
  border-top: none;
}