.ui-flyout {
  display: none;

  .flyout-arrow {
    z-index: 1;
    display: block;
    position: absolute;
    border: 6px solid transparent;
    @mixin center {
      left: 50%;
      margin-left: -6px;
    }
    @mixin middle {
      top: 50%;
      margin-top: -6px;
    }
    @mixin left {
      left: 15px;
    }
    @mixin right {
      right: 15px;
    }
    @mixin top {
      top: 15px;
    }
    @mixin bottom {
      bottom: 15px;
    }
    &.top {
      top: -12px;
      border-bottom-color: $flyoutBoxHeaderBg;
      &-left {
        @include left;
      }
      &-right {
        @include right;
      }
      &-center {
        @include center;
      }

    }
    &.bottom {
      bottom: -12px;
      border-top-color: $flyoutBoxBackground;
      &-left {
        @include left;
      }
      &-right {
        @include right;
      }
      &-center {
        @include center;
      }
    }
    &.left {
      left: -12px;
      border-right-color: $flyoutBoxBackground;
      &-top {
        @include top;
        border-right-color: $flyoutBoxHeaderBg;
      }
      &-center {
        @include middle;
      }
      &-bottom {
        @include bottom;
      }
    }
    &.right {
      right: -12px;
      border-left-color: $flyoutBoxBackground;
      &-top {
        @include top;
        border-left-color: $flyoutBoxHeaderBg;
      }
      &-center {
        @include middle;
      }
      &-bottom {
        @include bottom;
      }
    }
  }
}
.ui-flyout.box, .base-style {
  background: $flyoutBoxBackground;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  .hd {
    height: 40px;
    line-height: 40px;
    background: $flyoutBoxHeaderBg;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
  }
  .bd {
    padding: 15px 10px;
  }
  .btns {
    margin-top: 10px;
    text-align: right;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #ccc
  }
}

//确认框样式
.ui-flyout.confirm {
  $arrowColor: #797979;
  background: #343A3D;

  border: 1px solid #67696B;
  box-shadow: 0 0 5px 0 #000000;
  border-radius: 2px;
  min-width: 150px;
  .text {
    padding: 15px 8px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    text-align: center;
    background: #445F73;
    color: #fff;
    text-align: center;
  }
  .buttons {
    padding: 10px 0;
    background: #343A3D;
    text-align: center;
    button {
      margin: 0 5px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .flyout-arrow {
    &.top {
      &-left, &-right, &-center {
        border-bottom-color: $arrowColor;
      }
    }
    &.bottom {
      &-left, &-right, &-center {
        border-top-color: $arrowColor
      }
    }
    &.left {
      &-top, &-bottom, &-center {
        border-right-color: $arrowColor;
      }
    }
    &.right {
      &-top, &-bottom, &-center {
        border-left-color: $arrowColor;
      }
    }
  }
}

.ui-flyout.form {
  width: 200px;
  &.medium {
    width: 300px;
  }
  &.large {
    width: 400px;
  }
  &.xlarge {
    width: 500px;
  }
  &.xxlarge {
    width: 600px;
  }
}

//信息框
.ui-info-ok,
.ui-info-warning,
.ui-info-waiting {
  padding: 8px 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
}

//绿色背景
.ui-info-ok {
  background-color: #f1fce8;
  border-color: #82ae5f;
  color: #6b9848;
}

//红色背景
.ui-info-warning {
  background-color: #FEF1EC;
  border-color: #CD0A0A;
  color: #CD0A0A;
}

//橙黄色背景
.ui-info-waiting {
  background-color: #f7fcff;
  border-color: #3898e2;
  color: #3898e2;
  img {
    margin-right: 3px;
  }
}