.form-black {
  label {
    color: #c8c8c8;
    font-weight: normal;
  }
  .form-group {
    margin-bottom: 8px;
  }
}
.form-control {
  border-color: #737373;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.06);
  color: #fff;
}

select.form-control {
  background: $flyoutBoxBackground;
}

.form-buttons {
  text-align: right;
}