.form-black {
  label {
    color: #c8c8c8;
    font-weight: normal;
  }
  .form-group {
    margin-bottom: 8px;
  }
}
.form-control {
  border-color: #4f4f4f;
  border-radius: 0;
  background: #2E3537;
  color: #fff;
}
.form-buttons {
  text-align: right;
}