.ui-toast {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: inline-block;
  border: 1px solid #ededed;
  padding: 8px 20px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  border-radius: 6px;
  color: #2d2d2d;
  background: #CAE8B4;
  .head {
    border-radius: 50%;
  }
}