<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    ${template "basic"}
</head>
<body ng-controller="svnManagerCtrl" class="index">
    <div class="container-fluid">
        ${template "header"}
        <div class="version-control-bar">
            <div id="version" class="version">
                <p class="number">Version: {{ version.Version }}</p>
                <p class="time">Time: {{ formatTime(version.Time) }}</p>
            </div>
            <div class="page-controls" ng-class="{'disable-control' : lockControl || clientSelectable }">
                <button class="btn btn-sm btn-primary" svn-update>
                    <i class="fa fa-arrow-down loader"></i> Update
                </button>
                <button class="btn btn-sm btn-success" svn-deploy>
                    <i class="glyphicon glyphicon-transfer"></i> Deplpy
                </button>
            </div>
        </div>

        <div class="upfile-list">
            <ul>
                <li ng-repeat="item in upFileList">
                    <span ng-bind-html="ACTION[item.Action]" class="action" ng-class="ACTION[item.Action].toLowerCase()"></span>
                    <span ng-bind-html="item.Path" class="path"></span>
                </li>
            </ul>
        </div>

        <ul id="GroupList" group-list class="group-list" ng-class="{controllable: !lockControl}">
            <li class="group" ng-class="{ hidden: !group.Clients || isEmptyObject(group.Clients) }"
                ng-repeat="(gid, group) in groupList | orderBy:'-Id'"
                data-id="{{gid}}">
                <h3>{{group.Name}}</h3>
                <p class="desc">{{group.Desc}}</p>
                <div class="client-list row">
                    <div class="col-lg-3 col-md-4 col-sm-6 client-col" ng-repeat="(cid, client) in group.Clients | orderBy:'Id'">
                        <div class="client" ng-class="{ selectable : clientSelectable && client.Version < version.Version, online: client.Status == STATUS.Alive }">
                            <h5>{{client.Name || client.Ip}}</h5>
                            <p class="ip">{{client.Ip}}/{{client.InternalIp}}</p>
                            <span class="version">version: {{client.Version}}</span>
                            <div class="usage">
                                cpu: <span ng-class="{ warning: client.Proc.CPUPercent >= 80 && client.Proc.CPUPercent < 100, danger : client.Proc.CPUPercent >= 100 }">{{client.Proc.CPUPercent}}%</span>
                                mem: <span ng-class="{ warning: client.Proc.MEMPercent >= 80 && client.Proc.MEMPercent < 100, danger : client.Proc.CPUPercent >= 100 }">{{client.Proc.MEMPercent}}%</span>
                            </div>
                            <label>
                                <input type="checkbox" class="hidden" ng-model="client.selected" />
                                <i class="fa fa-check"></i>
                            </label>
                            <div class="control" client-control>
                                <em class="hidden"><i class="fa fa-bars"></i></em>
                                <span client-move><i class="fa fa-map-marker"></i> Move</span>
                                <span client-edit><i class="fa fa-ellipsis-h"></i> Edit</span>
                                <span client-backup><i class="fa fa-archive"></i> Backup</span>
                                <span client-revert><i class="fa fa-clock-o"></i> Revert</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 client-col">
                        <div class="client add-client">
                            <i class="fa fa-plus-circle" client-add></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="global-control" id="GlobalControl">
            <div class="bg"></div>
            <div class="bd">
                <p></p>
                <div class="btns">
                    <button class="btn btn-sm btn-default cancel">Cancel</button>
                    <button class="btn btn-sm btn-primary next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        _inlineRun(function(){
            require(["controller/indexCtrl"])
        })
    </script>
    ${template "import"}
</body>
</html>

