@include keyframes(checked){
  0% {
    @include transform(scale(1) rotateZ(0deg));
  }
  50% {
    @include transform(scale(1.6) rotateZ(6deg));
  }
  100% {
    @include transform(scale(1) rotateZ(0deg));
  }
}

.upgrade-dialog {
  label {
    cursor: pointer;
    padding: 5px;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    font-weight: normal;
    &:hover {
      background: darken($flyoutBoxBackground, 2%);
    }
    &:active {
      @include transform(translateX(1px) translateY(1px));
    }
  }

  input:checked + span i {
    color: #3F9D2F;
    @include animation(checked 0.3s ease-in);
  }

  .delete {
    color: #666;
  }
  .add {
    color: #59D259;
  }
  .update {
    color: #59B6D2;
  }

  .action {
    width: 80px;
    font-weight: bold;
  }

  .path {
    color: #ccc;
    @include flex(1);
  }

  .checkbox {
    margin: 0;
    i {
      color: #526469;
      font-size: 1.6rem;
    }
  }

  .nofity {
    position: absolute;
    bottom: -40px;
    left: 20px;
    font-size: 1.2rem;
    color: #fff;
  }

  .control {
    padding: 10px 5px 6px;
    border-bottom: 1px dotted #4D5356;
    @include display(flex);
    @include flex-direction(row);
    > span {
      cursor: pointer;
      color: #ccc;
      font-size: 1.4rem;
      &:hover {
        color: #fff;
      }
    }
    > span:nth-child(1) {
      width: 80px;
    }
    > span:nth-child(2) {
      @include flex(1);
    }
  }

  .info {
    padding: 10px 5px 0;
    border-top: 1px dotted #4D5356;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    > span {
      margin-left: 10px;
      &:first-of-type:before {
        display: none;
      }
      &:before {
        content: '';
        display: inline-block;
        height: 8px;
        width: 1px;
        margin-right: 10px;
        background: #60686C;
      }
    }
    .delete {
      color: #999;
    }
    b {
      margin-left: 5px;
    }
  }
}