.global-control {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 20px;
  display: none;
  @include transform(translateY(-100%));
  @include transition(transform 0.5s ease);
  .bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 0;
    @include gradient-vertical(rgba(0, 0, 0, 0.9), transparent);
  }
  .bd {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6rem;
    max-width: 80%;
    //background: #1C8B90;
    @include gradient-vertical(#134a52, #1C8B90);
    box-shadow: 0 0 2px 1px #111;
    border-top: none;
    color: #fff;
    border-radius: 0 0 5px 5px;
    p {
      margin-bottom: 10px;
    }
    .btn {
      margin: 0 5px;
    }
  }

  &.show {
    display: block;
    @include transform(translateY(0));
  }
}
