.group-list {
  position: relative;
  margin-top: 50px;
  li {
    @extend .clearfix;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    h3 {
      margin-bottom: 6px;
      font-size: 1.4rem;
      color: #fff;
    }
    .desc {
      font-size: 1.2rem;
      color: #717171;
    }
    > .control {
      text-align: right;
      span {
        @extend .cur-pointer;
        color: #7CD175;
      }
    }
    .host-list {
      @extend .clearfix;
      padding-top: 15px;
    }
    .pie {
      pointer-events: none;
      z-index: -1;
      &, .t , .b {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include transition-duration(0.5s);
        @include transition-timing-function(ease);
        @include transition-property(background, border-color);
      }
      .t, .b {
        border-radius: 50%;
        border: 2px solid #393E41;
      }
      .b {
        display: none;
        transform: rotateZ(180deg);
      }
    }
    .host {
      position: relative;
      float: left;
      width: 120px;
      height: 120px;
      margin: 0 50px 50px 0;
      font-size: 12px;
      border-radius: 100%;
      text-align: center;
      .content {
        position: absolute;
        width: 100%;
        top: 35px;
        height: 42px;
        overflow: hidden;
        @include transition(height 0.5s ease, top 0.5s ease);
        h5 {
          margin: 0 0 5px;
          font-size: 20px;
          font-family: Arial;
          color: #fff;
        }
      }
      .ext-info {
        display: none;
      }
      .control {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 1.6rem;
        opacity: 0;
        color: #A8C45C;
        @include transition-duration(0.5s);
        @include transition-timing-function(ease);
        @include transition-property(color, bottom, opacity);
        span {
          @extend .cur-pointer;
          margin: 0 2px;
        }
      }
      &.online {
        .b {
          display: block;
          border-color: #7CD175 transparent #7CD175 transparent;
          @include animation(deploying 5s linear infinite);
        }
      }

      &:hover {
        .pie .t {
          border-color: #4c4c4c;
          background: #303030;
        }
        .content {
          top: 30px;
          height: 90px;
        }
        .control {
          bottom: 5px;
          opacity: 1;
        }
      }
    }
    .add-host {
      font-size: 6rem;
      line-height: 120px;
      opacity: .2;
      &:hover, &.active {
        opacity: 1;
        color: #7CD175;
      }
      @extend .cur-pointer;
    }
  }
}