.upfile-list {
  width: 350px;

  .bd {
    max-height: 400px;
    overflow: auto;
  }
  li {
    @extend .clearfix;
    margin-bottom: 15px;
  }
  .checkbox {
    float: right;
    cursor: pointer;
    input {
      display: none;
    }
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #666;
      i {
        opacity: 0;
        color: #3F9D2F;
        font-size: 1.6rem;
      }
    }
    input:checked + span i {
      opacity: 1;
    }
  }

  .path {
    color: #ccc;
  }

  .action {
    &.delete {
      color: #666;
    }
    &.add {
      color: #59D259;
    }
    &.update {
      color: #59B6D2;
    }
  }
}