${define "header"}
<div id="header" class="header">
    <div class="logo">
        <i class="fa fa-cube"></i>
        <h1>Server Manager</h1>
        <p>Heiyan deploy management system</p>
    </div>
    <div class="account">
        <span><a href="javascript:;" system-setting><i class="fa fa-cog"></i>system setting</a></span>
        <span><a class="name" href="#"><i class="fa fa-user"></i>languid</a></span>
    </div>
</div>
${end}