${define "header"}
<div id="header" class="header">
    <div class="logo">
        <i class="fa fa-cube"></i>
        <h1>Server Manager</h1>
        <p>Heiyan deploy management system</p>
    </div>
    <div class="account">
        <i class="fa fa-user"></i><a class="name" href="#">languid</a>
    </div>
</div>
${end}